@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('/d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", serif;
    --fonte-android: 'idroid', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5) );
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}
header .titulo-header{
    font-family: "Bebas Neue", serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 2px var(--cor5);
    color: white;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.texto-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-shadow: #4C6C59 1px 1px 1px;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
    text-align: center;
}
nav > a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-right: 30px;
    border-radius: 5px;
    transition-duration: .5s;
    text-align: center;
    display: inline-block;

}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 5px;

} 
main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.459) 0px 0px 9px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
#titulo-principal {
    font-family: 'idroid';
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: normal;
    font-size: 1.8em;
}

#subtitulo {
    font-family: 'idroid';
    background-image: linear-gradient( to right, var(--cor1), transparent);
    color: var(--cor4);
    font-size: 1.2em;
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    padding-left: 5px;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
    
}
img{
    width: 100%;
}
div.video {

    /*text-align: center;  alinha o iframe, por ser uma div: block-element*/
    text-align: center;
    padding: 2rem;
    background-color: var(--cor2);
}
div.video > iframe{
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}
aside {
    background-color: var(--cor0);
    border-radius: 5px;
    padding: 10px;

}
aside > h3 {
    color: white;
    background-color:var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
/* aside> ul >li::before {
    content: '✔️';
} (e adicionar acima, list-style-type: none */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

/* PROPRIEDADES DE ESTILO PARA LISTAS:

Segue algumas Propriedades de Estilo extras apresentadas no vídeo para usarmos dentro de seletores de listas ( ex.: ul {...} ):

Quando criamos uma lista dentro de outro elemento, dentro de um aside por exemplo, geralmente as "bolinhas" da lista (marcadores sequenciais no caso de listas ordenadas) irão ficar para fora do elemento pai (aside)... Para resolver isso e manter a lista inteira dentro do elemento pai, devemos utilizar a Propriedade de Estilo " list-style-position " com o valor " inside " (por padrão marcadores de listas são posicionados com o valor " outside "). Essa propriedade define a posição dos marcadores da lista e dessa forma as "bolinhas" ficarão para dentro do elemento pai.

Outra questão, às vezes temos uma lista com muitos itens, muito extensa... E queremos dividi-la em duas partes para manter uma formatação mais agradável... Para fazer isso, temos a Propriedade de Estilo " columns " com o valor " 2 ". Com isso iremos dividir a nossa lista em duas colunas (se quiser dividir em mais de duas colunas é só alterar o valor numérico da propriedade).

É possível trocar as "bolinhas" ou marcadores de listas por outro símbolo, um emoji por exemplo. Para fazer isso, devemos usar a Propriedade de Estilo " list-style-type "... Como valor dessa propriedade, devemos colocar entre aspas 'simples' o número do código do emoji que escolhermos (sem o "U+"), e após isso, para de fato carregar o emoji, adicionar uma contrabarra ( \ ) antes do código do emoji e ainda dentro das aspas 'simples'. Obs.: A troca de símbolos de lista não é 100% compatível com todos os navegadores.

Uma coisa que pode acontecer é o nosso símbolo ficar "grudado" no item da lista, para evitar isso é indicado acrescentar um "espaço" entre o emoji e o item de lista. Para fazer isso, ainda dentro das aspas 'simples' e DEPOIS do código do emoji, acrescente outra contrabarra ( \ ) e logo após isso o código " 00A0 " ou " 0020 " (comando de espaço ). Se você quiser, pode inserir mais de um espaço, é só repetir o processo. Obs.: Sempre que você quiser dar um "espaço" ou inserir emojis pelo CSS, para qualquer outro elemento e não somente listas, faça como foi orientado nesse texto. 

Exemplo geral:

ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1F5F8\00A0\00A0';
}

Nota: Ainda existem muitas outras Propriedades de Estilo para listas além dessas três apresentadas no vídeo e descritas nesse texto.

MARGIN NEGATIVA:

No nosso projeto, dentro da área " Saiba Mais " (aside), formatamos o nosso h3 de um jeito que parece que o subtítulo faz parte do topo da caixa. Para fazer isso, inicialmente atribuímos um destaque de cores ao subtítulo e adicionamos um pequeno padding de 10px no mesmo... 

O resultado desejado seria que a caixa do h3 crescesse para "fora" e ocupasse a exata forma do topo da caixa do aside, resultando no efeito descrito.

Para isso, configuramos as margins laterais e superior do nosso h3 com um valor negativo de -10px, dessa forma a caixa do h3 irá crescer para "fora" e ocupará a forma do topo da caixa aside. A margin (espaçamento externo) foi configurada com um valor negativo, na prática essa margin está indo para dentro e se expandindo de forma inversa, abrangendo o topo do aside. Uma mesma configuração com um valor positivo no margin não daria o mesmo efeito.

Para fechar, posteriormente é só fazer o arredondamento da parte de cima da caixa do h3, para ficar condizente com a parte inferior da nossa caixa aside. 

    POSSIVEIS CONFIGURAÇÕES PARA O VIDEO/iFRAME

Melhor configuração que encontrei:

main .video {
    text-align: center;
    padding: 2rem;
    background-color: var(--cor2);
}

.video > iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}

- aspect-ratio é a proporção do vídeo que geralmente é 16/9, aí o codigo mesmo faz essa proporção sem precisar usar padding-bottom

- 56.5% aqui representa vídeos 16:9. Pra vídeos 4:3 seria 75%

- 56,25% é a porcentagem para full HD. É só dividir a altura pela largura e multiplicar por 100.
Isso vale para outras proporções de tela também.


Leandro, se você tiver envelopado o iframe dentro de uma div, como foi o meu caso, não precisa colocar o display: block; tendo em vista que as divs já são do tipo block-level. Bacana tua solução.
Eu fiz assim:

.video{
    background-color: #023535;
    padding: 10px;
    margin: 0px -10px;
}

.video > iframe{
    width: 72%;
}
"Precisamos lembrar da definição dos elementos definidos como block e inline: elementos definidos com display: block; permitem o redimensionamento tanto da largura quanto de sua altura. Estes, no entanto, não permitem elementos vizinhos, pois "ocupam" toda a largura da linha em que estão inseridos. Elementos definidos com display: inline; não permitem a definição nem da largura e nem da altura e permitem a exibição de outros elementos ao seu lado.

Os elementos definidos com display: inline-block; são a mistura entre inline e block. Elementos que tenham essa definição permitem que outros elementos sejam definidos ao seu lado, e permitem o redimensionamento tanto da largura quanto de sua altura. É exatamente a característica que se quer nos ícones, que fiquem ao lado um do outro e se possa definir suas dimensões." - Google
*/